# Data and model artifacts
outputs/
checkpoints/
logs/

# Audio and model files
*.pth
*.wav
*.mp3
*.log

# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Raspberry Pi temporary audio
recorded_audio.wav

# Final trained model
models/final/*.pt