# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class


# ==========================
# Virtual Environment
# ==========================

venv/
.venv/
env/


# ==========================
# Environment Variables
# ==========================

.env
backend/.env


# ==========================
# Uploaded Audio Files
# ==========================

backend/uploads/
uploads/


# ==========================
# Python Cache
# ==========================

.pytest_cache/
.mypy_cache/
.coverage
htmlcov/


# ==========================
# VS Code
# ==========================

.vscode/


# ==========================
# OS Files
# ==========================

.DS_Store
Thumbs.db


# ==========================
# Log Files
# ==========================

*.log


# ==========================
# Temporary Files
# ==========================

*.tmp
*.bak
# ==========================
# AI Model Files
# ==========================

models/final/best_model.pt
piper/*.onnx
piper/*.onnx.json


# ==========================
# Generated Audio Files
# ==========================

*.wav
*.m4a
*.mp3
*.flac


# ==========================
# Generated Output
# ==========================

outputs/


# ==========================
# IDE
# ==========================

.idea/